<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-callkit" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cordova CallKit</name>

    <js-module name="VoIPPushNotification" src="www/VoIPPushNotification.js">
        <clobbers target="VoIPPushNotification" />
    </js-module>

    <js-module name="CordovaCall" src="www/CordovaCall.js">
        <clobbers target="cordova.plugins.CordovaCall" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaCall">
                <param name="android-package" value="com.therawe.cordovacall.CordovaCall" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="com.therawe.cordovacall.LockScreenActivity"></activity>
            <service android:name="com.therawe.cordovacall.TheraweNotificationService" android:stopWithTask="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
        </config-file>

        <framework src="com.google.firebase:firebase-messaging:18.0.0" />

        <source-file src="src/android/CordovaCall.java" target-dir="src/com/therawe/cordovacall" />
        <source-file src="src/android/LockScreenActivity.java" target-dir="src/com/therawe/cordovacall" />
        <source-file src="src/android/ResourceUtilities.java" target-dir="src/com/therawe/cordovacall" />
        <source-file src="src/android/TheraweNotificationService.java" target-dir="src/com/therawe/cordovacall" />

        <resource-file src="src/android/res/drawable/background_icon_screen.xml" target="res/drawable/background_icon_screen.xml" />
        <resource-file src="src/android/res/drawable/background_icon.png" target="res/drawable/background_icon.png" />

        <resource-file src="src/android/res/layout/activity_lock_screen.xml" target="res/layout/activity_lock_screen.xml" />
      
        <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
  </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaCall">
                <param name="ios-package" value="CordovaCall" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
                <string>remote-notification</string>
                <string>voip</string>
            </array>
        </config-file>

        <header-file src="src/ios/CordovaCall.h" />

        <source-file src="src/ios/CordovaCall.m" />
        <source-file src="src/ios/AppDelegateCordovaCall.m" />

        <framework src="PushKit.framework" />
        <framework src="CallKit.framework" />
    </platform>
</plugin>
